/* ========================
    google  font start
======================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ========================
    google  font end
======================== */


/* ========================
    common css start
======================== */

* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin: 0;
    padding: 0;
}

.bg-orange {
    background: #E76F51;

}

.text-orange {
    color: #E76F51;
}

.bg-banner {
    background: #264653;
}

.font-weight-normal {
    font-weight: 600;
}

.font-weight-medium {
    font-weight: 500;
    font-size: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ========================
    common css end
======================== */


/* ================================
    header banner part start 
================================ */

.banner-part {
    padding-top: 150px;
}

.banner-part .text-width {
    width: 459px;
}



/* ================================
    header banner part start 
================================ */

.feature-part .row {
    margin-top: 120px;
}

.feature-part .title .title-paragraph-fw {
    font-weight: 600;
    position: relative;
}

.feature-part .title .title-paragraph-fw::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100px;
    height: 1px;
    transform: translateX(-50%);
    background: #E76F51;
    content: "";
}


.honda-width {
    width: 288px;
    height: 243px;
}

.gray-scale {
    filter: grayscale(100%);
}


.card-part {
    margin-top: 120px;
}

.card-part .row {
    margin-top: 47px;
}


.card-part .button {
    border: 1px solid #E76F51;
    padding: 15px;
    color: #E76F51;
    border-radius: 5px;
    transition: .4s;


}

.card-part .button:hover {
    background: #E76F51;
    color: white;
}

.happy-client-part {
    margin-top: 120px;
}

.happy-client-part .row {
    margin-top: 52px;
}

.happy-client-part .happy-img-width {
    width: 149px;
    height: 149px;
    margin: 0 auto;
}

.faq-part {
    margin-top: 120px;

}

.faq-part .row {
    margin-top: 135px;
}

.faq-part img {
    width: 431px;
    height: 423px;
}

footer {
    margin-top: 149px;
    padding-top: 56px;
    padding-bottom: 84px;
}

footer .left {
    font-size: 16px;
    font-weight: 400;
}